.aside {
    overflow: hidden;
    align-items: center;
    box-shadow: 0 2pt 304pt 20pt rgba(77 , 105 , 218 , 0.08);
    display: grid;
    grid-template-columns: 64pt;
    grid-template-rows: 86.8pt 
    26.4pt 
    repeat(4 , 52pt)
    45pt
    repeat(5 , 52pt) 
    45pt 
    repeat(3 , 52pt)
    193pt;
    grid-row-gap: 5pt;
    grid-area: 1 / 1 / 3 / 2;
    border-top-right-radius: 40pt;
    border-bottom-right-radius: 40pt;
    background-color: white;
    text-align: left;

    .context {
        opacity: 0;
        font-family: $font-semi-bold;
        letter-spacing: 0.86pt;
        color: $color-gray-aside;
        margin-left: 20pt;
    }

    &__logo {
        @extend .context;
        font-size: 43pt;
    }

    > p {
        @extend .context;
        font-size: 12pt;
        text-transform: uppercase; 
        align-self: end;
        margin-bottom: 5pt;
    }

    &__side-menu {
        align-items: center;
        display: grid;
        grid-template-columns: 64pt 1fr;
        grid-template-rows: 52pt;
        width: 64pt;

        > .icon {
            justify-self: center;
        }

        > p {
            @extend .text-style-semi-bold-14;
        }
    }

    > .active {
        > .icon {
            fill: $color-vibrant-blue;
        }

        > p {
            color: rgb(27 , 57 , 255);
        } 
    }
}

.aside.active {
    grid-template-columns: 1fr;

    > .aside__side-menu {
        width: 250pt;
    }

    > h1 {
        opacity: 44%;
    }

    > p {
        opacity: 44%;
    }
}