.main {
    @extend .right-section;
    display: grid;
    grid-template-columns: 948pt 302pt;
    grid-template-rows: 129pt max-content;
    grid-gap: 20pt;
    margin-top: 14pt;

    &__panel {
        display: grid;
        box-sizing: border-box;
        grid-template-rows: 78pt 45pt;
        grid-row-gap: 6pt;
        grid-area: 1 / 1 / 2 / 2;
        border-radius: 15pt;
        background-color: white;
        box-shadow: 0pt 35pt 44pt -30pt rgba(13 , 24 , 48 , 0.07);
        padding-left: 25pt;
        padding-right: 20pt;

        &-switch {
            display: grid;
            grid-template-columns: 231pt 140pt 121pt 1fr 214pt;
            grid-template-rows: 38pt;
            grid-column-gap: 20pt;
            align-content: center;

            > * {
                display: grid;
                overflow: hidden;
                align-content: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                border-radius: 10pt;
                border: solid 1pt $color-gray-highlight;
            }

            > .class-type {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                justify-items: center;

                > p {
                    @extend .text-style-semi-bold-14;
                    display: grid;
                    grid-template-columns: repeat(2 , max-content);
                    grid-column-gap: 10pt;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    padding-left: 20pt;

                    &:before {
                        display: grid;
                        width: 8pt;
                        height: 8pt;
                        border-radius: 50%;
                        background-color: rgb(199 , 204 , 193);
                        content: "";
                    }
                }

                > p.active {
                    background-color: rgb(236 , 241 , 247);

                    &:before {
                        background-color: $color-vibrant-blue;
                    }
                }
            }

            .select-and-date-time {
                display: grid;
                grid-template-columns: repeat(2 , max-content);
                font-family: $font-semi-bold;
                font-size: 14pt;
                line-height: 24pt;
                letter-spacing: 0.1pt;
                color: $color-gray-normal;
            }

            > .select {
                @extend .select-and-date-time;
                grid-column-gap: 10pt;

                &:after {
                    display: grid;
                    justify-content: center;
                    width: 16pt;
                    height: 100%;
                    background-color: $color-gray-icon;
                    clip-path: polygon(20% 37% , 80% 37% , 50% 70%);
                    content: "";
                }
            }

            > .date-time {
                @extend .select-and-date-time;
                grid-column-gap: 5pt;

                > .icon {
                    align-self: center;
                    height: 16pt;
                    width: 16pt;
                }
            }

            > .search {
                display: grid;
                align-items: center;
                grid-column: 5;
                grid-template-columns: repeat(2 , max-content);
                grid-column-gap: 8pt;
                font-family: $font-light;
                font-size: 14pt;
                letter-spacing: 0.2pt;
                color: $color-gray-normal;

                > .icon {
                    align-self: center;
                    height: 24pt;
                    width: 24pt;
                }
            }
        }

        &-info {
            display: grid;
            grid-template-columns: 51pt 395pt 249pt 1fr;
            grid-template-rows: 1fr;
            align-items: center;
            
            > p {
                font-family: $font-bold;
                font-size: 12pt;
                letter-spacing: 0.87pt;
                color: rgb(10 , 10 , 76);
            }
        }
    }

    &__items {
        display: grid;
        grid-area: 2 / 1 / 3 / 2;    
        grid-row-gap: 10pt;  

        > .item {
            display: grid;
            grid-template-columns: 64pt 63pt 338pt 249pt 1fr;
            box-sizing: border-box;
            align-items: center;
            padding-left: 5pt;
            height: 68pt;
            border-radius: 10pt;
            background-color: white;

            > span[type="checkbox"] {
                justify-self: center;
            }

            > .image {
                display: grid;
                position: relative;
                overflow: hidden;
                width: 48pt;
                height: 48pt;
                border-radius: 10pt;
                background-image: url('../../images/koala.jpg');
                background-position: center center;
                background-size: cover;


                > img {
                    position: absolute;
                    justify-self: center;
                    height: 100%;
                    width: auto;
                }
            }

            > .context {
                font-family: $font-semi-bold;
                font-size: 16pt;
                line-height: 26pt;
                letter-spacing: 0.1pt;
                color: $color-gray-normal;
            }

            > .status {
                display: grid;
                grid-template-columns: repeat(3 , max-content);
                align-items: center;
                font-family: $font-semi-bold;
                font-size: 14pt;
                letter-spacing: 0.1pt;
                color: $color-gray-normal;

                &:before {
                    display: grid;
                    width: 10pt;
                    height: 10pt;
                    margin-right: 5pt;
                    border-radius: 50%;
                    background-color: $color-gray-normal;
                    content: "";
                }

                &:after {
                    display: grid;
                    align-content: center;
                    justify-content: center;
                    transform: rotateZ(90deg);
                    font-size: 24pt;
                    width: 24pt;
                    height: 24pt;
                    margin-left: 5pt;
                    content: "\203A";
                }
            }

            > .status.absent:before {
                background-color: $color-red;
            }

            > .status.present:before {
                background-color: $color-weird-green;
            }

            > .status.absent-excused:before {
                background-color: $color-butterscotch;
            }
        }

        > .item.checked {
            box-shadow: 0pt 34pt 70pt 0pt rgba(17 , 29 , 79 , 0.31);
            z-index: 100;

            > span[type="checkbox"] {
                @extend span[type="checkbox"].checked;
            }
        }
    }

    &__chart {
        display: grid;
        box-sizing: border-box;
        padding: 30pt;
        grid-template-rows: 242pt 1fr;
        grid-template-columns: repeat(3 , 1fr);
        grid-area: 1 / 2 / 3 / 3;
        height: 376pt;
        border-radius: 20pt;
        background-color: white;

        > .DonutChart {
            grid-area: 1 / 1 / 2 / 4;
            font-family: $font-semi-bold;
            align-self: center;
            justify-self: center;
        }

        > p {
            display: grid;
            grid-template-columns: repeat(2 , max-content);
            align-items: center;
            align-self: end;
            justify-self: center;
            font-family: $font-semi-bold;
            font-size: 14pt;
            line-height: 24pt;
            letter-spacing: 0.1pt;
            color: $color-gray-normal;

            &:before {
                display: grid;
                width: 10pt;
                height: 10pt;
                margin-right: 5pt;
                border-radius: 50%;
                background-color: $color-gray-normal;
                content: "";
            }
        }

        
        > p.absent:before {
            background-color: $color-red;
        }

        > p.present:before {
            background-color: $color-weird-green;
        }

        > p.absent-excused:before {
            background-color: $color-butterscotch;
        }
    }
}