// FONTS
$font-black: "ProximaNovaBlack";
$font-light: "ProximaNovaLight";
$font-bold: "ProximaNovaBold";
$font-semi-bold: "ProximaNovaSemiBold";
$font-regular: "ProximaNovaRegular";
// COLORS
$color-gray-normal: rgb(68 , 68 , 79);
$color-gray-aside: rgb(94 , 94 , 94);
$color-vibrant-blue: rgb(0 , 57 , 255);
$color-bright-blue: rgb(0 , 57 , 255);