// FONTS
$font-black: "ProximaNovaBlack";
$font-light: "ProximaNovaLight";
$font-bold: "ProximaNovaBold";
$font-semi-bold: "ProximaNovaSemiBold";
$font-regular: "ProximaNovaRegular";
// COLORS
$color-gray-highlight: rgb(226 , 226 , 234);
$color-gray-icon: rgb(146 , 146 , 157);
$color-gray-normal: rgb(68 , 68 , 79);
$color-gray-aside: rgb(94 , 94 , 94);
$color-black-switch: rgb(23 , 23 , 37);
$color-vibrant-blue: rgb(0 , 57 , 255);
$color-bright-blue: rgb(0 , 57 , 255);